*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
.bootstrap{
    display: flex;
    position: fixed;
    width:350px;
    height: 100%;
    padding:100px;
    background-image: url(dot.png);
    background-color: whitesmoke;
    border: 1px solid wheat;
}
.bootstrap.img{
    padding: 70px;
}

a{
    text-transform: uppercase;
}
.nav-link:hover{
    color:red;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-left: auto;
    background-color: grey;
    padding: 50px;
}
.home{
    width: 90%;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    padding: 40px;
}
.border{
    color: black;
}
.profile{
    display: block;
    width: 90%;
    height: 100%;
    background-color: white;

}
.form-group{
    margin:20px;
    padding:20px;
}
.btn{
    margin: 10px;
    border-radius: 0%;
    padding: 15px;
}
.file{
    margin: 20px;
    padding: 20px;
}
.radio-block label{
    display:inline-block;
    text-align:center;
    margin:0 4em;
}
.radio-block label input[type="radio"] {
    display:block;
    margin:0.5em auto;
}
.comment label{
    display:inline-block;
    text-align:center;
    margin:0 4em;
}
.comment label input[type="radio"] {
    display:block;
    margin:0.5em auto;
}
.text{
    display: block;
}
.input-group input[type="submit"] {
    padding: 20px;
    margin: 5rem;
    

}
.upload{
    width: 100%;
    padding: 20px;
}

.feedback{
    padding: 20px;
    background-color: white;
    margin-left: 40px;
}
@media only screen and (max-width: 578px) {
    .bootstrap{
padding: 10px;
display: flex;
width: 20%;
position: fixed;

    }
    .main-content{
        margin-left: auto;
    }
    .radio-block label input[type="radio"] {
        display:block;
        margin:auto;
    }
    .upload{
        width: 100%;
        padding: 5px;

    }
    .upload input[type="submit"]{
        display: inline;
    }


.radio-block label{
    display:block;
    text-align:center;
    margin:5px;
}
.comment label{
    display:block;
    text-align:center;
    margin:5px;
}
.comment label input[type="radio"] {
    display:block;
    margin:auto;
}
}